.list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  padding: 15px;
  background: #fff;
  box-shadow: 0 0 5px 2px rgb(0 0 0 / 10%);
}
