@use "../styles/utils" as *;

body {
  background: $bg;
}

h2 {
  font-size: 20px;
  line-height: 28px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
}

.app {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 40px;
}

@media screen and (max-width: $bpSmall) {
  .wrapper {
    row-gap: 20px;
  }
  .app {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: $bpTiny) {
  .container {
    padding: 0;
  }
}

