//Цвета
$bg: #f0f8ff;

$primary: #1a7cdc;
$secondary: #359139;

$white: #f8f9fb;
$gray: #9aa0a8;
$blue: #55a8ff;
$red: #f00b51;

//Точки останова
$bpMedium: 768px;
$bpSmall: 440px;
$bpTiny: 360px;
