//Цвета
$bg: #f0f8ff;

$primary: #1a7cdc;
$secondary: #359139;

$white: #f8f9fb;
$black: #171717;
$light-blue: #55a8ff;
$dark-blue: #00007b;
$red: #f00b51;
$brown: #541f3f;
$green: #97e196;
$azure: #00ffed;
