@use "../../styles/utils" as *;

.settings {
  display: flex;
  flex-direction: column;
  row-gap: 35px;
  padding: 1.5rem;
}

.nameArea,
.levelArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.nameArea {
  input {
    width: 100%;
  }
}

.radioArea {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.label {
  display: flex;
  cursor: pointer;
  font-weight: 500;
  position: relative;
  overflow: hidden;

  .input {
    position: absolute;
    z-index: -100;
    visibility: hidden;
    &:checked + .span {
      background-color: mix(#fff, $primary, 80%);
      &:before {
        box-shadow: inset 0 0 0 7px $primary;
      }
    }
  }

  .span {
    display: flex;
    align-items: center;
    padding: 7px 10px 7px 7px;
    border-radius: 50px;
    transition: 0.25s ease;
    &:hover {
      background-color: mix(#fff, $primary, 90%);
    }
    &:before {
      display: flex;
      flex-shrink: 0;
      content: "";
      background-color: #fff;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      margin-right: 10px;
      transition: 0.25s ease;
      box-shadow: inset 0 0 0 2px $primary;
    }
  }
}

.button {
  width: 200px;
  height: 40px;
  align-self: center;
}
